/* Please insert all your CSS code into this document */

h1 {
    padding: .2em .5em 1em;
}

h2 {
    padding: .2em;
    text-align: center;
}

header.title {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background: white;
    float: none;
}

.banner {
    display: block;
    margin: auto;
    width: 80%;
}
  /* Footer on every page */
  footer {
    width: 100%;
    height: 100px; 
    position: fixed;
    bottom: 0;
    background:white;
  }

  #wrapper {
   margin: 80px 0 105px 0;
  }
  
  article {
    float: none;
  }

  article.p:last-of-type {
    padding:0 0 2em;
  }

  /* Page one mods   */

  aside.one {
    position: fixed;
    left: 0;
    width: 160px;
    padding: 0 .4em;
  }

  div.articles1 {
	position: fixed;
	left: 160px;
	height: 400px;
	width: 750px;
	padding: 0 .2em;
	overflow: scroll;
	}

img.body1 {
	width: 300px;
	}

/* page two  */

aside.two {
    float: left;
    min-width: 130px;
}

div.articles2 {
    min-height: 400px;
    min-width: 350px;
    padding: 0 30px;
    overflow:scroll;
}

.left2 {
    float: left;
    margin: 10px 35px 10px 0px;
    width: 170px;
}

.right2 {
    float: right;
    margin: 10px 0px 10px 35px;
    width: 170px;
}

/* page three  */

aside.three {
    float: left;
    min-width: 130px;
}

div.article3 {
    min-height: 400px;
    min-width: 350px;
    padding: 0 1em;
    overflow: scroll;
}

.right3 {
    float: right;
    margin: 1em 0em 1em 2em;
    width: 25%;
}

.left3 {
    float: left;
    margin: 1em 2em 1em 0;
    width: 25%
}

/* page four  */

aside.four {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    min-width: 130px;
}

div.article4 {
    display: inline-block;
    vertical-align: top;
    min-height: 400px;
    min-width: 350px;
    width: 75%;
}

.right4 {
    float: right;
    margin: 1em 0em 1em 2em;
    width: 25%;
}

.left4 {
    float: left;
    margin: 1em 2em 1em 0;
    width: 25%
}

/* page five  */

.box {
    display: inline-block;
    width: calc(50% - 1em);
    height: 100px;
    margin: 1em;
    object-fit: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    height: 100vh;
    width: 50vw;
    object-fit: none;
}

.gallery figure {
    flex: 0 0 calc(50% -1em);
    margin: 1em;
    text-align: center;
}